// === FONTS ===
$font-family: "Inter", sans-serif;
$font-size: 14px;

// === COLORS ===
$background-color: hsl(0, 0%, 8%);
$card-color: hsl(0, 0%, 12%);
$primary-color: hsl(0, 0%, 100%);
$secondary-color: hsl(0, 0%, 20%);
$ternary-color: hsl(75, 94%, 57%);

// === QUERY ===
$mobile-width: 85%;
$desktop-width: 400px;
